<a href="https://colab.research.google.com/github/shubhkhatwase/Exploratory-data-analysis-/blob/main/Create_Elsx_by_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 4.3 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

**Python Program to create a excel file**

In [3]:
# first of all import xlsxwriter module
import xlsxwriter 

# Workbook() takes one, non-optional, Argument
# Which is the file name that we want to create

workbook = xlsxwriter.Workbook('Hello.xlsx')

# the workbook object is then used to add new
# worksheet via the Add_worksheet() method.

worksheet = workbook.add_worksheet()

# use the worksheet object to write 
# data via the write() method.

worksheet.write('A1','Hello')
worksheet.write('B1','hiii')
worksheet.write('C1','Heyyy')
worksheet.write('D1','Shubh')

workbook.close()

In [4]:
import xlsxwriter 
workbook = xlsxwriter.Workbook('Shubh.xlsx')
worksheet = workbook.add_worksheet()
# start from the first Row and Column
row = 0
column = 0

content = ["shubh","Raja","shasi","lovkesh","vishal","shubham","shanu","sandhya"]
for item in content:
  worksheet.write(row, column, item)
  row =+ 1
workbook.close()

In [5]:
import xlsxwriter
workbook = xlsxwriter.Workbook('Example3.xlsx')
worksheet = workbook.add_worksheet('My sheet')
scores = (['Shubh',1000],
          ['Ashish',900],
          ['chandan',870],
          ['priya',973],)
row = 0
col = 0

for name, score in (scores):
  worksheet.write(row,col,name)
  worksheet.write(row,col+1,score)
  row =+ 1
  workbook.close()

/usr/local/lib/python3.7/dist-packages/xlsxwriter/workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [6]:
import xlsxwriter

# Create a workbook and add a worksheet.
workbook = xlsxwriter.Workbook('Expenses01.xlsx')
worksheet = workbook.add_worksheet()

# Some data we want to write to the worksheet.
expenses = (
    ['Rent', 1000],
    ['Gas',   100],
    ['Food',  300],
    ['Gym',    50],
    ['sport', 400],
    ['Game',  100],
    ['panda', 500],
    ['numpy', 500],
    ['stippend',45],
)

# Start from the first cell. Rows and columns are zero indexed.
row = 0
col = 0

# Iterate over the data and write it out row by row.
for item, cost in (expenses):
    worksheet.write(row, col,     item)
    worksheet.write(row, col + 1, cost)
    row += 1

# Write a total using a formula.
worksheet.write(row, 0, 'Total')
worksheet.write(row, 1, '=SUM(B1:B4)')

workbook.close()

In [7]:
import pandas as pd
DF= pd.read_excel('/content/Expenses01.xlsx')
DF

       Rent  1000
0       Gas   100
1      Food   300
2       Gym    50
3     sport   400
4      Game   100
5     panda   500
6     numpy   500
7  stippend    45
8     Total     0

In [9]:
import pandas as pd
DF= pd.read_excel('/content/Example3.xlsx')
DF

Empty DataFrame
Columns: [Shubh, 1000]
Index: []

In [ ]:
import xlsxwriter
workbook = xlsxwriter.Workbook('Khatwase.xlsx')
worksheet = workbook.add_worksheet()
worksheet.write('A1','Shubh')
worksheet.write('B2','Raja')
worksheet.write('C3','Rahul')
worksheet.write('D4','Sanjay')
workbook.close()