<a href="https://colab.research.google.com/github/shubhkhatwase/Exploratory-data-analysis-/blob/main/Python_Dr_charles_coursera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What is Python?

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

web development (server-side),
software development,
mathematics,
system scripting.

Python Hello world

In [ ]:
print ("Wel Come to the world!")

Wel Come to the world!

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
x = "Hello,World"
print(x)
print(len(x))
print(type(x))

Hello,World
11
<class 'str'>

In [ ]:
a = 45
b = 55
print(a+b)
c = a+b
print(c)

100
100

In [ ]:
a = 45
b = 55
c = a+b
d = a-b
e = a*b
f = a/5
print(c)
print(type(c))
print(d)
print(type(d))
print(e)
print(type(e))
print(f)
print(type(f))

100
<class 'int'>
-10
<class 'int'>
2475
<class 'int'>
9.0
<class 'float'>

In [ ]:
a = 50
b = 60
c = a+b
d = float(c)
print(d)

110.0

In [ ]:
a = 454
print(bool(a))
b = 45.6
print(float(b))
print(int(b))
print(str(45))

True
45.6
45
45

In [ ]:
a = 45
b = 45
c  = a+b # Addition
print(c)
d = a-b  # Substraction
print(d)
e = a*b  # multiplication
print(e)
f = a/b  # Division
print(f)
g = a**b # Exponentiation
print(g)
h = a//b # floor division
print(h)

90
0
2025
1.0
248063644451341145494649182395412689744530581492654164321720600128173828125
1

In [ ]:
a = "Shubh Khatwase"
print(type(a))
print(a)

<class 'str'>
Shubh Khatwase

In [ ]:
a = "you are greate man"
print(a,"Shubh Khatwase")

you are greate man Shubh Khatwase

In [ ]:
a = "shubh khatwase"
print("you are Selected in this company Mr.",a)

you are Selected in this company Mr. shubh khatwase

In [ ]:
a = str(input("Enter your name "))
a

Enter your name Raja Uikey

'Raja Uikey'

#**List in PYTHON**

List is mutable function. We can make change in it.

In [ ]:
names = ["Shubh","Monu","Pinku","Simu","Somya"]
print(names)
print(names[2])
print(names[2:5])
print(names[2:-1])
print(names[-3:])
print(names[3:])
print(names[:2])

['Shubh', 'Monu', 'Pinku', 'Simu', 'Somya']
Pinku
['Pinku', 'Simu', 'Somya']
['Pinku', 'Simu']
['Pinku', 'Simu', 'Somya']
['Simu', 'Somya']
['Shubh', 'Monu']

In [ ]:
colors = ["Yellow","Pinck","Red","Green","Sky Blue","Orange"]
colors.append("Blue")
colors.reverse()
colors.remove("Red")




print(colors)

['Blue', 'Orange', 'Sky Blue', 'Green', 'Pinck', 'Yellow']

In [ ]:
my_list = []
fhand = open('/content/drive/MyDrive/shubh ASSIGNMENT.txt')
for line in fhand:
    words = line.split()                # Splits line into array of words
    for word in words:
        if word in my_list:
            continue                    # Discards duplicates
        my_list.append(word)            # Updates the list
print(sorted(my_list))                  # Alphabetical order

['(0.00', '(0.02', '(0.04', '(0.14', '(0.19', '(0.42', '*', '+------+-----------+----------+---------+', '+------+-----------+----------+---------+---------------+---------------+--------------+', '+-----------+-------------+------+-----+---------+-------+', '+---------------+----------+------+-----+---------+-------+', '+---------------+---------------+--------------+', '+--------------------+', '+----------------------+', '10', '101', '102', '103', '104', '2', '3', '4', 'Database', 'Default', 'Extra', 'Field', 'Key', 'MUL', 'NO', 'NULL', 'Null', 'PRI', 'Tables_in_prod_sales', 'Type', 'YES', 'ajay', 'akash', 'anni', 'assignment', 'bhopal', 'changed', 'char(20)', 'char(23)', 'city', 'costomer', 'current_city', 'customer_name', 'databases;', 'desc', 'from', 'hasan', 'in', 'indor', 'information_schema', 'int', 'join', 'khandwa', 'kiran', 'lukash', 'mahi', 'mike', 'mysql', 'mysql>', 'nihal', 'on', 'people', 'performance_schema', 'population', 'population_2022', 'pro_serial_no', 'prod_sales', 'prod_sales;', 'rajiv', 'rows', 's_no', 'sagar', 'saller', 'saller.city=sold_return.current_city;', 'saller;', 'saller_no', 'school', 'sec)', 'select', 'set', 'show', 'sold_return', 'sold_return;', 'tables;', 'use', 'user', 'varchar(20)', 'varchar(30)', 'vikash', '|']

#**File Handle as a Sequance**

A file handle open for read can be treated as sequence of strings where each line in the file is a string in the sequence.

We can use the for statement to iterate through a sequence.

Remember - a sequence is an ordered set

# **Counting Line in a File**

- Open a file ready.

- Use a for loop to read each line

- count the lines and print out the number of lines

In [ ]:
fhand = open('')
count = 0 
for line in fhand:
  count = count + 1
  print('Line count: ',count)

#**Reading the *Whole* File**

We can read the whole file (newlines and all) into a single string

In [ ]:
fhand = open('mbox-short.txt')
inp = fhand.read()
print(len(inp))
print(inp[:20])

# **Searching Through a File**

We can put an if statement in out for loop to only print lines that meet some criteria

In [ ]:
fhand =  open('mbox-short.txt')
for line in fhand:
  if line.startswith('From:'):
    print(line)

OOPS

What are all these blank lines doing here??

- Each line from the file has a newline at the end 

- The print statement adds a newline to each line

# Searching Through a File (Fixed)

- we can strip the whitespace from the right-hand sude if the string rstrip() from the string library.
- the newline is considered "white space" and is stripped

In [ ]:
fhand = open('mbox-short.txt')
for line in fhand:
  line = line.restrip()
  if line.startwith('From: '):
    print(line)

#**Skipping with continue**

We can conveniently skip a line by using the continue statement

In [ ]:
fhand = open('mbox-short.txt')
for line in fhand:
  line = line.rstrip()
  if not line.startwith('From: '):
    continue
  print(line)

#Using in to Select lines

We can look for a string anywhere in a line as our selection criteria

In [ ]:
fhand = open('mbox-short.txt')
for line in fhand:
  line = line.restrip()
  if not '@uct.ac.za' in line:
    continue
  print(line)

## Prompt for File Name

In [ ]:
fname = input("Enter your file name: ")
fhand = open(fname)
count = 0
for line in fhand:
  if line.startswith("Subject: "):
    count = count + 1
print('There were', 'subject lines in',fname)

#**Programming**
### Algorithms
- A set of rules or steps used to solve a problem

### Data Structure
- A particular way of orgnizing data in a computer

### what is Not A "Collection"??

Most of our variable have one value in them - when we put a new value in variable, the old value is overwritten

In [ ]:
a = 45
b = 45
c = a + b
print(c)

90

## A List is a Kind of Collection
- A collection allows us to put many values in a single "variable"
- A collection is nice because we can carry many values around in one convenient package.

In [ ]:
friends = ["arvind","sneha","neha"]
fruits = ["cherry","banana","graps"]
for x in friends and fruits:
  print(x)

cherry
banana
graps

#**List Constants**
- List constants are surrounded by square brackets and the elements in the list are separeted by commas
- A List element can be any Python object - even another list

- A list can be empty

In [ ]:
print([1,54,45,56,])
print(['green','pink','yellow','orange'])
print(['red',54,46.6])
print([4,[5,65,44,5],8])
print([])

[1, 54, 45, 56]
['green', 'pink', 'yellow', 'orange']
['red', 54, 46.6]
[4, [5, 65, 44, 5], 8]
[]

##**Concatenating list Using**
We can create a new list by adding two existing lists togather

In [ ]:
a = [2,4,6]
b = [6,6,5]
c = a+b
print(c)
print(a)

[2, 4, 6, 6, 6, 5]
[2, 4, 6]

# **List Methods**

In [ ]:
x = list()
type(x)

list

In [ ]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#**Building a list from Scratch**
- We can create an empty list and then add elements using the append method 
- The list stays in order and new elements are added at the end of the list

In [ ]:
stuff = list()
print(stuff)
stuff.append("Book")
print(stuff)
stuff.append(99)
print(stuff)
stuff.append('cookie')
print(stuff)

[]
['Book']
['Book', 99]
['Book', 99, 'cookie']

**Is something in a list??**

In [ ]:
some = [ 4,6,6,7,5,8]
6 in some

True

In [ ]:
5 in some

True

In [ ]:
50 in some

False

In [ ]:
50 not in some

True

#Lists are in Order
- A list can hold many items and keeps those items in the order until we do something to change the order
- A list can be sorted(i.e., change its order)
- The sort method (unlike in strings) means "sort yourself"

In [ ]:
friends = ["trisha","shivam","omkar"]
friends.sort()
print(friends)
print(friends[1])

['omkar', 'shivam', 'trisha']
shivam

# **Built-in Function and Lists**

- There are a number of functions built into Python that lists as parameters.
- Remember the loops we built?? These are much simpler.

In [ ]:
nums = [5,56,7,8,5,6,6,4]
print(len(nums))  # length
print(min(nums))  # minimum value
print(max(nums))  # maximum value
print(sum(nums))  # sum of list
print(sum(nums)/len(nums)) # average

8
4
56
97
12.125

In [ ]:
from types import CoroutineType
total = 0
count = 0
while True:
  inp = input('Enter a number: ')
  if inp == 'Done': break
  value = float(inp)
  total = total + value
  count = count + 1 

average = total / count
print('Average:',average)

Enter a number: 89
Enter a number: 78
Enter a number: 87
Enter a number: 78
Enter a number: 78
Enter a number: 78
Enter a number: 87
Enter a number: 56.3
Enter a number: 65.66
Enter a number: Done
Average: 77.44

In [ ]:
numlist = list()
while True :
  inp = input('Enter a number: ')
  if inp == 'done': break
  value = float(inp)
  numlist.append(value)
average = sum(numlist)/len(numlist)
print("Average: ", average)

Enter a number: 78
Enter a number: 45
Enter a number: 65
Enter a number: 45
Enter a number: 45
Enter a number: 54
Enter a number: 5
Enter a number: done
Average:  48.142857142857146

# Best Friends: Strings Lists

In [ ]:
abc = 'Earth rotates'
stuff = abc.split()
print(stuff)
print(len(stuff))
print(stuff[0])
print(stuff)
for w in stuff :
  print(w)

['Earth', 'rotates']
2
Earth
['Earth', 'rotates']
Earth
rotates

split breaks a string into parts and poroduces a list of strings. We think of these as words. We can access a particular word or loop through all the words.

In [ ]:
line = 'A lot                    Snackes we have'
etc = line.split()
print(etc)

['A', 'lot', 'Snackes', 'we', 'have']

In [ ]:
line = 'first;second;third'
thing = line.split()
print(thing)
print(len(thing))

['first;second;third']
1

In [ ]:
thing = line.split(';')
print(thing)
print(len(thing))

['first', 'second', 'third']
3

- when you do not specify a decimiter, multiple spaces are threated like one delimiter
- You can specify what delimiter character to use in the splitting

###**The Double Split Pattern**

- sometimes we split a line one way. and then grab one of the pieces of the fine and split that is piece again

In [ ]:
han = open('mbox-short.txt')
for x in han:
  line = x.rstrip()
  wds = line.split()
  print('Words',wds)
  if wds[0] != 'From':
    print('Ignore')
    continue
  print(wds[2])

#**-ROSMUS LARDORF Inventor of PHP-**

#**What is a collection ??**
- A collection is nice because we can put more than one value in it and carry them all around in one convenient package.
- We have a bunch of values in a single"variable".
- We do this by having more then place "in" the variable.
- We have ways of finding the different places in the variable.

##**What is not a "Collection"??**
 - Most of our variables have one value in them
 - Whem we put a new value is the variable 
 - the old value is overwritten.

In [ ]:
a = 5
a = 6
print(a)

6

#**Dictionaries**
- Dictionaries are Python's most powerful data collection.
- Dictionaries allow us to do fast database like operations in python.
- Dictionaries have different names in different languages.
 - Associative Array - Perl/PHP
 - Properties or Map or HashMap - Java
 - Property Bag - C#/ .Net.
- list index their entries based on the position in the list
- Dictionaries are like bags- no order
- So we index the things we put in the dictionary with a "Lookup tag"

In [ ]:
purse = dict()
purse['money']= 12
purse['candy']= 5
purse['tissues']= 45
print(purse)
purse['candy']= purse['candy'] + 45
print(purse)

{'money': 12, 'candy': 5, 'tissues': 45}
{'money': 12, 'candy': 50, 'tissues': 45}

# Comparing Lists and Dictionaries
Dictionaries are like listes except that they usse keys instead of numbers to look up values

In [ ]:
lst = list()
lst.append(21)
lst.append(183)
print(lst)
lst[0]=23
print(lst)

[21, 183]
[23, 183]

In [ ]:
ddd = dict()
ddd["age"]=21
ddd["course"]= 182
print(ddd)
ddd["age"]=23
print(ddd)
{"course":182,"age":23}

{'age': 21, 'course': 182}
{'age': 23, 'course': 182}

{'age': 23, 'course': 182}

In [ ]:
lst = list()
lst.append(23)
lst.append
print(lst)
lst[0] = 23
print(lst)

[23]
[23]

In [ ]:
ddd = dict()
ddd['age']= 21
ddd['course'] = 182
print(ddd)
ddd['age'] = 23
print(ddd)

{'age': 21, 'course': 182}
{'age': 23, 'course': 182}

#**Dictionary Literals (Constants)**
- Dictioonary literals use curly braces and have a list of **key:value** pairs
- You can make an empty dictionary using empty only braces.

In [ ]:
jjj = {'dhuck':1,'fred':42,'jan':100}
print(jjj)
ooo = { }
print(ooo)

{'dhuck': 1, 'fred': 42, 'jan': 100}
{}

# **Many counters with a Dictionary**
One common use of dictionaries is councting how often we "see" something.

In [ ]:
ccc = dict()
ccc['cesy']= 1
ccc['cwen']= 1
print(ccc)
ccc['cwen']= ccc['cwen']+1
print(ccc)

{'cesy': 1, 'cwen': 1}
{'cesy': 1, 'cwen': 2}

#**Dictionary Tracebacks**
- It is an error to reference a key which is not in the dictionary.
- We can use the the in operator to see if a key is in the dictionary.

In [ ]:
ccc = dict()
print(ccc['csev'])

KeyError: ignored

#**When we drr s new name**
- when we encounter a new name, we need to add a new entry in the dictionary and one to the count in the dictionary under that name

In [ ]:
counts = dict()
names = ['shubh','vikas','shyam','sanjay','dipesh']
for name in names:
  if name not in counts:
    counts[name] = 1
  else:
    counts[name] = counts[name] + 1 
print(counts)

{'shubh': 1, 'vikas': 1, 'shyam': 1, 'sanjay': 1, 'dipesh': 1}

#**The get method for Dictionaries**
The pattern of checking to see if a key is already is in a dicrtionary and assuming a default balue if the key is so cimmin that there is a methoid called get() that does this for us.

'''Default value if key does not exist (and no traceback)'''

In [ ]:
if name in counts:
  x = counts[name]
else:
  x = 0
x = counts.get(name,0)

#**Simplified Counting with get()**
We can use get() and provide a default value of zero when the key is not yet is the dictionary - and then just add one

In [ ]:
counts = dict()
names = ["sanjay","sanjana","sima","rohit","karan"]
for name in names:
  counts[name] = counts.get(name,0)+1
print(counts)

{'sanjay': 1, 'sanjana': 1, 'sima': 1, 'rohit': 1, 'karan': 1}

#**Counting Pattern**

In [ ]:
counts = dict()
print("Enter a line of text: ")
line = input('')
words = line.split()
print("Words:",words) 
print('counting....')
for word in words:
  counts[word]= counts.get(word,1)+1
print('counts',counts)

Enter a line of text:
my name is shubh
Words: ['my', 'name', 'is', 'shubh']
counting....
counts {'my': 2, 'name': 2, 'is': 2, 'shubh': 2}

#**Tuple Are Like Lists**

tuples are another kind of sequence that funtions much like a list they have elements which are indexed starting at 0

In [ ]:
x = ("shambhu","jasef","ikka","eliyana")
print(x[2])

ikka

In [ ]:
a  = (1,54,6,5)
print(a)
print(max(a))
for iter in a:
  print(iter)

(1, 54, 6, 5)
54
1
54
6
5

#**But... Tuple are "Immutable"**
Unlike a list once you create a tuple,You cannot after its contents- Similar to a string.

In [ ]:
x = [56,89,65]
x[0]=6
print(x)

[6, 89, 65]

In [ ]:
Y = 'ABC'
Y[2]= 'D'

TypeError: ignored

In [ ]:
x = (5,6,7)
x[2]= 0

TypeError: ignored

**A tale of two Sequances**

In [ ]:
a = list()
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a = tuple()
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

#**Tuple Are More Efficient**
- Since Python does not have to build tuple structures to be midifiable,they are simpler and more effiecent in terms of memory use and preformance than lists.
- So in our program when we are making "temporary variables" we prefer tuples over lists.

#**Tuples and Assignment**
We can also put on the left-hand side of an assignment statement We can even omit the parantheses

In [ ]:
(x,y)= (4,"Friend")
print(y)
print(x)

Friend
4

In [ ]:
(a,b) = (99,98)
print(a)

99

####**The items() method in dictionaries returns a list of (key,value)tuples**

In [ ]:
d = dict()
d["shubh"]= 5
d["sachin"]=4
for (k,y)in d.items():
  print(k,y)

shubh 5
sachin 4

In [ ]:
tups = d.items()
print(tups)

dict_items([('shubh', 5), ('sachin', 4)])

#**Tuples are Comparable**
The comparison operators waork with tuple and other sequences. if the first item is equal. python goes on to the next element. and so on, Until it finds elements that differ.

In [ ]:
(0,1,2)<(6,5,3)

True

In [ ]:
(4,4,4)>(5,5,5)

False

In [ ]:
("sadhana","sandhya")<("sandhya","sadhana")

True

In [ ]:
("sanju","shubham")>("raja","x")

True

#**Sorting Lines of Tuples**
- ## *We can take advantages of the ability to sort a list of tuple to get a sorted version of a dictionary.**
- ## *First we sort the dictionary by the key using the **items()**  method and **sorted()** function*

In [ ]:
d = {'a':10,'b':5,'c':20}
d.items()
sorted(d.items())

[('a', 10), ('b', 5), ('c', 20)]

#**Using sorted()**
##*We can do this even more directly using the built-in function sorted that takes a sequence as a parameter and returns a sorted sequence*

In [ ]:
d = {'a':10, 'b':20, 'c':30}
b
for a, c in sorted(d.items()):
  print(a, c)

a 10
b 20
c 30

# **Sort by Value Insread of Key**
- If we could construct a list of tuple of the forn (value,key) we could sort by value
- We do this with a for loop  that creates a list of tuples.

In [ ]:
c= {"a":10,"b":5,"c":20}
tmp = list()
for k,v in c.items():
  tmp.append((v,k))
print(tmp)
tmp = sorted(tmp, reverse=True)

[(10, 'a'), (5, 'b'), (20, 'c')]

In [ ]:
fhand = open("file name")
counts = dict()
for line in fhand:
  word = line.split()
  for word in words:
    counts[word] = counts.get(word,0)+1

In [ ]:
lst = list()
counts = dict()
for key, val in counts.items():
  newtup = (val, key)
  lst.append(newtup)
lst = sorted(lst,reverse=True)
for val, key in lst[:10]:
  print(key,val)

In [ ]:
c = {'a':10,'b':1,'c':11}
print(sorted([(v,k)for k,v in c.items()]))

[(1, 'b'), (10, 'a'), (11, 'c')]

List comprehansion creats a dynemic list. in this case, we make a list of reversed tuples and then sort it.